
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.map{
    height: 50%;
	width: 50%;
	top: 75%;
	left:5%;

}


table thead {
  background-color: #cee2eb;
}

.table{
	width: 97%;
	margin: 0 auto;
	
}

.covidsCont{
	text-align:center;
}

.first {
	width: 90%;
    overflow-y: scroll;
    height: 50%;       
	text-align:center;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.parte2{
	top:70%;
	width: 90%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background-color:lightblue;
}

.sup{
	width: 5%;
	margin-top: 1%;
	margin-left: 1%;
}

h1{
	text-align:center;
}

.covidsCountry{
	width: 35%;
	position: absolute;
	margin: 0 auto;
	left: 55%;
	right: 0%;
	top: 84%;

}

